body{
    padding: 20%;
}
table{
    /* border: 2px solid black; */
    width: 100%;
    background-color: grey;
    padding:3px;
}
th,td{
    padding: 2px;
}
.btn{
    width:100%;
    padding:20px;
    font-size:30px;
    /* font-weight: bold; */
    border-radius: 5px;
    border: none;
}
.main-div{
    display: flex;
    gap: 5px;
}
.screen{
    width: 100%;
    height: 70px;
    font-size: 30px;
    /* font-weight: bold; */
    border: none;
    background-color:rgb(199, 199, 199);
    outline: none;
}
.result-screen{
    width: 100%;
    height: 35px;
    font-size: 20px;
    /* font-weight: bold; */
    border: none;
    background-color:rgb(199, 199, 199);
    outline: none;
}
.btn:hover{
    background-color: cadetblue;
    color: white;
    font-weight: bold;
}
.calculator{
    flex: 1;
}
.history{
    flex: 1;
    background-color:rgb(223, 223, 223) ;
}
.delete{
   
}